* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.web-port{
  display: block;
}
@media (min-width: 1200px){
.web-port {
    max-width: 1200px;
    padding: 20px;
    margin: 75px auto;
}
}


@media (max-width: 950px){
  .dashboard1{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 412px){
  .circle3{
    visibility:visible;
    overflow: hidden;
  }
  .circle1{
    visibility: visible;
    overflow: hidden;
  }
}
/* @media (max-width: 1139px){
  .circle1 .circle3{ */
  /* width: 10%;
  height: 10%; */
  /* overflow: hidden;
  position: relative;
border-radius: 50%;
width: 100%;
height: auto;
padding-top: 100%;
  }
} */

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
  font-size: 72px;
  /*background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* background-image: linear-gradient(150deg, blue, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
  font-weight: 600;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.pink-color:hover{
  color:#e73c7e
}
.blue-color:hover{
  color:#23a6d5;
}
.title{
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 129.69%;
  letter-spacing: 0.03em;
  color:#426696;
}
.header-title{
  text-align: left;
  padding-left: 10vw;
  font-weight: 700;
    font-size: 7vw;
    line-height: 129.69%;
    letter-spacing: 0.03em;
}
hr{
 position: relative;
font-weight: 600;
 width: 200px
}
.socials{
  color: #23a6d5;
  padding-left: 10px;
  padding-right: 10px;
}
.socials:hover{
  color:#e73c7e
}
.imgProjects {
  width: 2em;
  transition: transform .9s;
}
.work-sub{
  padding-top: 2vw;
}
.imgProjects:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.headerName {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #668ec7;
  font-weight: 500;
  opacity: 0.8;
}
/*homepage*/
/* main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
  /* display: flex;
  align-items: center;
  justify-content: center;
}  */
/* .glass {
  background: white;
  min-height: 40vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2rem;
  z-index: 2;

  display: flex;
} */
/* color of circles &size of the circles */
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}
/*position of the circles*/
.circle1 {
  top: 5%;
  right: 10%;
  z-index: 5;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
.circle3,
.circle4 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}
/*position of the circles*/
.circle3 {
  /* bottom: 50%;
  right: 5%; */
  left: 70%;
  bottom: -20%;
  border: solid aliceblue;
}

/* spacing inside of container*/
.dashboard {
  padding-top: 100px;
  /* flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 2; */
  
}
.my-skills{
  padding-top: 10vw;
  padding-left: 10vw;
  padding-bottom: 10vw;
}
.skill-para{
  margin: 50px 0px;
  color: #426696;
  width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 184.69%;
  letter-spacing: 0.03em;
}
.dashboard1 {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding-top: 10vw;
}
/* spacing of the hobbies inside container*/
.hobby {
  /* display: flex;
  justify-content: center; */
padding-left: 10vw;
display: flex;
    align-items: center;
  /* align-items: center; */
}
.skill-table{
  /* width: 100%;
    text-align: left;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap; */
    /* width: 100%;
    text-align: left;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between; */
    width: 415px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skill-items{
  padding: 10px;
  list-style: none;
  color:#23508b;
}
.nav-item{
  display: flex;
  align-items: center;
}
.top-nav{
  padding-right: 20px;
}
nav {
  /* padding-left: 100px; */
  font-size: 20px;
  z-index: 1;
  background-color: #e3f2fd;;
}
.about-para{
  margin: 50px 0px;
  color: #426696;
  /* width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 184.69%;
  letter-spacing: 0.03em; */
  margin: 20px 0px 50px;
  width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 184.69%;
  letter-spacing: 0.03em;
}
.dashboard2 img {
  width: 100%;
  height: 30%;
  padding: 10px;
}
.works{
  padding-left: 10vw;
}
.work-para{
  margin: 20px 0px 50px;
    width: 419px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 184.69%;
    letter-spacing: 0.03em;
}
.workSpace2 {
  margin: 50px;
  /* width: 600%; */
  /* height: 30%; */
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.workSpace3 {
  width: 500px;
  height: 50%;
  margin: 54px;
  /* margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;  */
}
.work{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10vw;
}

.contactInfo {
  /* padding-top: 10vw;
  padding-left: 10vw;
  padding-bottom: 10vw; */
  
  /* box-shadow: 120px 80px 40px 20px #0ff; */
  /* box-shadow: 20px 40px 80px 120px #e73c7e; */
  /* linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* box-shadow: inset 0px 0px 40px 40px #6cdbeb; */

 

}
.contact-para{
  margin: 20px 0px 50px;
   
   width: 534px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 184.69%;
    letter-spacing: 0.03em;
}
.email{
  color:  #426696;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid #426696;
  display: inline-block;
  text-decoration: none;
}
.email:hover{
  border-bottom: 2px solid white;
  color: #426696;
}
.contact {
  display: flex;
  padding-bottom: 10vw;
  padding-left: 10vw;
}
.dashboard2 {
  /* margin: 50px;
  display: flex;
  justify-content: space-evenly; */
  /* display: flex; */
    /* width: 100vw; */
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    width: 91vw;
}

.btn-outline-primary:hover{
  opacity: 1;
  background-color: #e3f2fd;

}


.title h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 100px;
  font-size: 60px;
}
.navbar {
  animation: animate 20s linear;
  animation-iteration-count: infinite;
  z-index: 1;
}
.nav-item:hover{
  text-decoration: underline;
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#about-contain1 {
  /* margin: 20px; */
  padding-left: 50px;
  opacity: 90%;
  border-radius: 15px;
  text-align: left;
  width: 50%;
}

body {
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate {
  0% {
    box-shadow: 0 2px 30px 0 green;
  }

  5% {
    box-shadow: 0 2px 30px 0 red;
  }

  10% {
    box-shadow: 0 2px 30px 0 Aquamarine;
  }

  15% {
    box-shadow: 0 2px 30px 0 seashell;
  }

  20% {
    box-shadow: 0 2px 30px 0 maroon;
  }

  25% {
    box-shadow: 0 2px 30px 0 green;
  }

  30% {
    box-shadow: 0 2px 30px 0 darkorange;
  }

  35% {
    box-shadow: 0 2px 30px 0 deeppink;
  }

  40% {
    box-shadow: 0 2px 30px 0 Snow;
  }

  45% {
    box-shadow: 0 2px 30px 0 IndianRed;
  }

  50% {
    box-shadow: 0 2px 30px 0 Cornsilk;
  }

  55% {
    box-shadow: 0 2px 30px 0 GreenYellow;
  }

  60% {
    box-shadow: 0 2px 30px 0 Teal;
  }

  65% {
    box-shadow: 0 2px 30px 0 NavajoWhite;
  }

  70% {
    box-shadow: 0 2px 30px 0 YellowGreen;
  }

  75% {
    box-shadow: 0 2px 30px 0 DarkTurquoise;
  }

  80% {
    box-shadow: 0 2px 30px 0 green;
  }

  85% {
    box-shadow: 0 2px 30px 0 Plum;
  }

  90% {
    box-shadow: 0 2px 30px 0 ForestGreen;
  }

  95% {
    box-shadow: 0 2px 30px 0 Purple;
  }

  100% {
    box-shadow: 0 2px 30px 0 green;
  }
}
/* planet orbit*/
/* SOLAR SYSTEM */

.solar-system {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: left;
}

.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #426696;
  border-radius: 50%;
}

.earth-orbit {
  width: 200px;
  height: 200px;
  -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
  width: 1900px;
  height: 120px;
  -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
  width: 130px;
  height: 130px;
  -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2004fb;
}

.sun {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.leo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blue-orbit {
  width: 165px;
  height: 165px;
  border: 1px solid #91daffa5;
  -webkit-animation: spin3D 3s linear 0.2s infinite;
}

.green-orbit {
  width: 120px;
  height: 120px;
  border: 1px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
  width: 90px;
  height: 90px;
  border: 1px solid #426696;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
  width: 60px;
  height: 60px;
  border: 2px solid #23508b;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, 0.5, 90deg);
}

.w3 {
  transform: rotate3D(0.5, 1, 2, 90deg);
}

.three-quarter-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #fb5b53;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}

/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
/* @media (min-width: 1200px){
nav{
    max-width: 1200px;
    padding: 100px 0px 75px;
    margin: 75px auto 0px;
}
} */

@media (max-width: 1148px){
.circle3{
    visibility: hidden;
  }
  .circle1{
    visibility: hidden;
  }
}

/* @media(max-width: 504px){
  .navbar{
    
    width: 177vw;
  }
} */

/* @media(max-width: 1038px){
  .navbar{
    
   margin-left: 50px;
   margin-right: 20px;
  }
  nav{
    display: flex;
    justify-content: center;
  }
  .home{
    float: left;
  }
}  */


@media(max-width: 738px){
  .many-item{
    display: flex;
    flex-direction: wrap;
  }
}


